{% extends 'tasks/base.html' %}

{% block title %}
  <title>Tasks - categories</title>
{% endblock %}

{% block content %}
  <section class="flex flex-col gap-2 justify-center w-svw h-svh">
      <h1 class="text-center text-xl font-bold p-2">Categories</h1>
    <section class="flex gap-5 justify-center">
      <form action="" method="POST" class="form flex gap-5">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-teal-800 hover:bg-cyan-900 text-white font-bold py-2 px-4 rounded">
          {% if id %}
            Update
          {% else %}
            Create
          {% endif %}
        </button>
      </form>
    </section>
    <section class="grid place-content-center gap-5 mr-4 p-2">
      {% for category in categories %}
        {% if category.name != 'No category' %}
          <div class="category flex justify-items-center   gap-7">
            <p class="py-1">{{ category.name }}</p>

            {% if category.id != 1 %}
              <a href="{% url 'tasks:update_category' category.id %}" class="bg-teal-800 hover:bg-cyan-900 text-white font-bold py-1 px-2 rounded">Edit</a>
              <a href="{% url 'tasks:delete_category' category.id %}" class="bg-red-700 hover:bg-red-300 text-white font-bold py-1 px-2 rounded" onclick="javascript: return confirm('Are you sure?')">Delete</a>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </section>
{% endblock %}
